{% extends 'homepage/base.html' %}

{% block title %}Chi siamo{% endblock %}

{% block content %}
<style>
    h3 {
      text-align: center;
      margin-top: 15px; 
      margin-bottom: 25px; 
    }

    .card-img-top {
        width: 100%; /* Rende la larghezza dell'immagine uguale a quella della card */
        height: 200px; /* Imposta un'altezza fissa per le immagini */
        object-fit: cover; /* Mantiene il rapporto di aspetto */
        margin-bottom: 10px; /* Distanza tra l'immagine e il contenuto della card */
    }

    .card {
        margin-bottom: 20px; /* Spazio tra le card */
    }

    .btn-custom {
        background-color: #007bff; /* Puoi personalizzare questo colore */
        color: white;
    }
</style> 

<h3>Chi siamo</h3>
<p>Villa Murgo nasce da una necessità personale, dal desiderio di riconnettersi con la natura.</p>
<p>In un'epoca in cui è fondamentale ritagliarsi del tempo per sé, Villa Murgo offre un rifugio dove respirare aria fresca, camminare e riscoprire quelle piccole attività spesso dimenticate.</p>
<p>Con i suoi incantevoli tramonti e la vista sul golfo, ti sorprenderà con i suoni della natura regalandoti un'estate di totale tranquillità e serenità.</p>

<!-- Card Section -->
<div class="container mt-4">
    <div class="row d-flex justify-content-center"> <!-- Centra le card -->
        {% for attivita in attivita_list %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ attivita.immagine.url }}" class="card-img-top" alt="{{ attivita.titolo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ attivita.titolo }}</h5>
                    <p class="card-text">{{ attivita.descrizione }}</p>
                    <a href="#" class="btn btn-custom">Scopri di più</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
