{% extends 'homepage/base.html' %}

{% block title %}
{{ titolo }} - Villa Murgo
{% endblock %}

{% block content %}
<style>
    /* Stili personalizzati */
    .card-custom {
        max-width: 400px;
        margin: auto;
    }
    .card-header {
        background-color: #dec683;
        color: white;
    }
    .form-control {
        border-color: #343a40;
    }
    .btn-custom {
        background-color: #dec683;
        color: black;
    }
    .btn-custom:hover {
        background-color: #fff0bf;
    }
</style>

<div class="container mt-5">
    <div class="card card-custom shadow-lg">
        <div class="card-header text-center">
            <h3>{{ titolo }}</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'registrazione' %}">

                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input type="email" name="email" class="form-control rounded-pill" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <input type="text" name="first_name" class="form-control rounded-pill" placeholder="Nome" required>
                </div>
                <div class="mb-3">
                    <input type="text" name="last_name" class="form-control rounded-pill" placeholder="Cognome" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password1" class="form-control rounded-pill" placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password2" class="form-control rounded-pill" placeholder="Conferma Password" required>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-custom rounded-pill">{{ bottone }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
